.navigation_bar_link{
    color:rgb(255,255,255);
    background-color:rgb(14, 167, 14);
    font-size: x-large;
}

.navigation_bar_link:hover{
    color:rgb(172, 188, 29);
    background-color: rgb(1, 33, 1);
    font-size:xx-large;
}

.shopping_category{
    color:rgb(1, 33, 1);
    background-color: rgb(172, 188, 29);
}




/* about */

.special_paragraph{
    font-size:x-large;
    font-weight: 550;
    text-align: center;

    padding:20px 20px 20px 20px;
    margin:30px 200px 30px 200px;
    background-color: rgb(108, 203, 108);
    border-width: 5px;
    border-color: rgb(1, 33, 1);
    border-style:outset;
}

.special_paragraph_title{
    font-size:xx-large;
    font-weight: 900;
    text-align: center;

    padding-top: 2px;
    padding-bottom:2px;
    margin-top:3px;
    margin-bottom: 3px;
    border: none;
}

.paragraph{
    font-size: x-large;
    text-align: justify;
    padding:1px 30px 15px 25px;
    margin:0px 4px 0px 4px;
    border: none;
}

.title{
    font-size: 60px;
    text-align: left;
    padding-left:25px;
}

.copyright{
    text-align: center;
    font-size: large;
    font-weight: 600;
}
